# Mineração de Regras de Associação

### Importação das Bibliotecas:

In [3]:
import pandas as pd
import numpy as np
import apyori as apriori

### Importação dos Datasets:

In [4]:
df = pd.read_csv('../../data/dataset_final.csv')
df

,Codigo da IES,Natureza,Situacao,DIAS,%,CI N,CI V,IGC_N,IGC_M,IGC_V,EAD_17,variacao mat,mat_T 2017,% FIES,CURSOS,saldo 2017,Variacao 17-16
0,5124,1,1,3941,0.411765,3,3,0.206225,0.388984,0.218967,1,0.006821,101,0.059897,2,0.841104,0.030305
1,1313,0,1,97,0.625000,4,3,0.252132,0.489731,0.275680,1,0.002865,2385,0.017333,10,0.841104,0.030305
2,13856,1,1,2772,0.705882,3,3,0.221834,0.402147,0.226377,0,0.003016,0,0.000000,0,0.830934,0.030305
3,2380,1,1,616,0.645161,3,3,0.291149,0.534633,0.300956,1,0.003298,2844,0.444927,6,0.868319,0.030305
4,21685,1,1,161,0.400000,4,3,0.211069,0.382632,0.215392,0,0.003016,0,0.000000,5,0.830934,0.030305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2172,21215,0,1,516,1.000000,4,3,0.211069,0.382632,0.215392,0,0.003016,0,0.000000,0,0.830934,0.030305
2173,1465,1,1,7042,0.370370,3,3,0.227881,0.461302,0.259676,1,0.004669,1254,0.619110,13,0.841104,0.030305
2174,638,0,1,885,0.600000,4,3,0.265673,0.500789,0.278512,1,0.002896,1882,0.111970,1,0.831327,0.030305
2175,13897,1,1,2506,0.400000,3,3,0.248650,0.438133,0.000000,1,0.002866,357,0.000000,2,0.830985,0.030305
2176,667,0,1,7220,0.379310,5,3,0.179968,0.422273,0.202091,1,0.005751,341,0.274981,8,0.830889,0.030305

--------------------------------------------

### Formatação dos Dados:

* Definindo Regras de Formatação:

% == 0 = 0, % > 0 = 1;

CI < 3 = 0, CI >= 3 = 1;

IGC < 3 = 0, IGC >= 3 = 1;

variacao mat <= 0 = 0, variacao mat > 0 = 1;

% FIES == 0 = 0, % FIES > 0 = 1;

CURSOS == 0 = 0, CURSOS > 0 = 1;

saldo <= 0 = 0, saldo > 0 = 1;

* Formatando dataset:

In [6]:
df_formated = df[['Natureza', 'Situacao', '%', 'CI N', 'CI V', 'IGC_N', 'IGC_M', 'IGC_V', 'EAD_17', 'variacao mat', '% FIES', 'CURSOS', 'saldo 2017']]

df_formated["%"] = np.where(df_formated["%"] == 0, 0, 1)

df_formated["CI N"] = np.where(df_formated["CI N"] < 3, 0, 1)
df_formated["CI V"] = np.where(df_formated["CI V"] < 3, 0, 1)

df_formated["IGC_N"] = np.where(df_formated["IGC_N"] < 3, 0, 1)
df_formated["IGC_M"] = np.where(df_formated["IGC_M"] < 3, 0, 1)
df_formated["IGC_V"] = np.where(df_formated["IGC_V"] < 3, 0, 1)

df_formated["variacao mat"] = np.where(df_formated["variacao mat"] <= 0, 0, 1)
df_formated["% FIES"] = np.where(df_formated["% FIES"] == 0, 0, 1)
df_formated["CURSOS"] = np.where(df_formated["CURSOS"] == 0, 0, 1)
df_formated["saldo 2017"] = np.where(df_formated["saldo 2017"] <= 0, 0, 1)

df_formated

C:\Users\Daniel\AppData\Local\Temp\ipykernel_4244\2216900384.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_formated["%"] = np.where(df_formated["%"] == 0, 0, 1)
C:\Users\Daniel\AppData\Local\Temp\ipykernel_4244\2216900384.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_formated["CI N"] = np.where(df_formated["CI N"] < 3, 0, 1)
C:\Users\Daniel\AppData\Local\Temp\ipykernel_4244\2216900384.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_formated["CI V"] = np.where(df_formated["CI V"] < 3, 0, 1)
C:\Users\Daniel\AppData\Local\Temp\ipykernel_4244\2216900384.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_formated["IGC_N"] = np.where(df_formated["IGC_N"] < 3, 0, 1)
C:\Users\Daniel\AppData\Local\Temp\ipykernel_4244\2216900384.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_formated["IGC_M"] = np.where(df_formated["IGC_M"] < 3, 0, 1)
C:\Users\Daniel\AppData\Local\Temp\ipykernel_4244\2216900384.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_formated["IGC_V"] = np.where(df_formated["IGC_V"] < 3, 0, 1)
C:\Users\Daniel\AppData\Local\Temp\ipykernel_4244\2216900384.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_formated["variacao mat"] = np.where(df_formated["variacao mat"] <= 0, 0, 1)
C:\Users\Daniel\AppData\Local\Temp\ipykernel_4244\2216900384.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_formated["% FIES"] = np.where(df_formated["% FIES"] == 0, 0, 1)
C:\Users\Daniel\AppData\Local\Temp\ipykernel_4244\2216900384.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_formated["CURSOS"] = np.where(df_formated["CURSOS"] == 0, 0, 1)
C:\Users\Daniel\AppData\Local\Temp\ipykernel_4244\2216900384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_formated["saldo 2017"] = np.where(df_formated["saldo 2017"] <= 0, 0, 1)

,Natureza,Situacao,%,CI N,CI V,IGC_N,IGC_M,IGC_V,EAD_17,variacao mat,% FIES,CURSOS,saldo 2017
0,1,1,1,1,1,0,0,0,1,1,1,1,1
1,0,1,1,1,1,0,0,0,1,1,1,1,1
2,1,1,1,1,1,0,0,0,0,1,0,0,1
3,1,1,1,1,1,0,0,0,1,1,1,1,1
4,1,1,1,1,1,0,0,0,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2172,0,1,1,1,1,0,0,0,0,1,0,0,1
2173,1,1,1,1,1,0,0,0,1,1,1,1,1
2174,0,1,1,1,1,0,0,0,1,1,1,1,1
2175,1,1,1,1,1,0,0,0,1,1,0,1,1
2176,0,1,1,1,1,0,0,0,1,1,1,1,1

-----------------------------------------

### Algoritmo Apriori:

-----------------------------------------------